.body {
    background-color: #aa2b33;
    /*
    font-family: 'Courier New', Courier, monospace;
    background-color: #000;    
    margin: 0 auto;
    */
}

.container {
    background-color: #24141c;
    color: #cccccc;
    font-family: "Nunito", sans-serif;
    width: 90%;
    border-radius: 7px;
    padding: 2%;
    margin: 1% auto;

    h1 {
        text-align: center;
        color: #aa2b33;
    }
}

.flex {
    display: flex;
    justify-content: space-around;
}

.flex2 {
    border-right: 0.1px solid rgba(178, 170, 171, 0.185);    
}

.flex_content {
    padding: 1% 2%;
    flex: 1;

    h2 {
        font-weight: 600;
        color: #aa2b33;
    }

    span {
        font-weight: 200;
    }

    ul {
        padding-inline-start: 7%;
        margin: 20% 0;
    }
}

.button {
    outline: none;
    border: none;
    background: #aa2b33;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    font-family: "Nunito", sans-serif;
    cursor: pointer;
}

.button-disabled {
    background: transparent;
    border: 1px solid #aa2b33;
    color: #aa2b33;
}

footer {
    text-align: center;
    font-family: "Nunito", sans-serif;
    color: #cccccc;
    margin-bottom: 0;
}

@media screen and (max-width: 540px) {
    .flex {
        flex-direction: column;
    }

    .flex2 {
        border: none;
    }    
}